<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <div ng-app="">
            <p>LOGIN</p>
            <p>Enter your first name:<input type="text" ng-model="fname" /></p>
            <p>Hey <span ng-bind="fname"></span></p>
            <p>Enter your last name:<input type="text" ng-model="lname" /></p>
            <p>Enter your username:<input type="text" ng-model="uname" /></p>
            <p>Enter your password:<input type="password" ng-model="pass" /></p>
            <input type="submit" />
        </div>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
        </script>
    </body>
</html>